* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    background-color: #272a30;
    color: white;
    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    background: black;
    width: 50vw;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

p {
    margin-left: 7px;
}

a {
    color: lime;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    font-family: monospace;
    line-height: 1.5em;
    list-style-type: "";
}

ul li {
    margin-left: 2em;
    position: relative;
}

ul li:last-child::after {
    display: none;
}

ul li::before {
    border-bottom: 1px solid;
    border-left: 1px solid;
    content: "";
    height: 0.75em;
    left: -1.3em;
    position: absolute;
    width: 1em;
    color: gray;
}

ul li::after {
    border-left: 1px solid;
    content: "";
    height: 100%;
    left: -1.3em;
    position: absolute;
    top: 0;
    color: gray;
}
