:root {
    --terminal-bg-color: #191919;
    --bg-color: #161617;
    --link-color: #cdd6f4;
    --directory-color: #94e2d5;
    --line-color: #45475a;

    --prompt-primary-color: #a6e3a1;
    --prompt-git-outer-color: #89b4fa;
    --prompt-git-inner-color: #f38ba8;
    --prompt-separator-color: #f9e2af;
}

.prompt-arrow,
.prompt-command {
    color: var(--prompt-primary-color);
}

.prompt-git-outer {
    color: var(--prompt-git-outer-color);
}

.prompt-git-inner {
    color: var(--prompt-git-inner-color);
}

.prompt-separator {
    color: var(--prompt-separator-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    background-color: var(--bg-color);
    color: var(--directory-color);
    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    background: var(--terminal-bg-color);
    width: 50vw;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    line-height: 1.5em;
    list-style-type: "";
}

ul li {
    margin-left: 2em;
    position: relative;
}


/* horizontal lines */
ul li::before {
    border-bottom: 1px solid;
    border-left: 1px solid;
    content: "";
    height: 0.75em;
    left: -1.75em;
    position: absolute;
    width: 1.25em;
    color: var(--line-color);
}

/* vertical lines */
ul li::after {
    border-left: 1px solid;
    content: "";
    height: 100%;
    left: -1.75em;
    position: absolute;
    top: 0;
    color: var(--line-color);
}

/* no vertical line for last element */
ul li:last-child::after {
    display: none;
}
